.page-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    color: #f8f8f2;
    font-family: 'Segoe UI' , sans-serif;
}

.login-box{
    text-align: center;
}

.login-box h2 {
    color: #fbeec1;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.login-container{
    background-color: #000;
    color: white;
    height: 100vh;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.login-form input, .login-form button {
    margin: 10px;
    padding: 10px;
    width: 250px;
}